.hero{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  justify-content:center;
  text-align:center;
  align-items:center;


  padding:var(--padding-large) var(--padding-thin) var(padding-thin);

  .wrapper{
    width:100%;
    background-color: var(--color-bg-secondary);
  }

}


@media screen and (min-width: $vw-medium){

  .hero .wrapper{
    display:flex;
    flex-direction:row;
    div{
      width:48%;
    }
  }
}

