
:root{

  //couleurs de base
  --color-white: #fff;
  --color-black: #000;

  //couleurs du projet
  --color-link: #202C4A;
  --color-link-visited: #8B8B97;
  --color-link-hover:#E53847;
  --color-link-active:#E53847;
  --color-link-focus:#E53847;

  --color-bg-primary:#FFFFFF;
  --color-bg-secondary:#E5E5E5;
  --color-bg-tertiary:#202C4A;

  --color-text-primary: #fff;
  --color-text-secondary: #000;

  --color-gradient: linear-gradient(90deg, rgba(98,189,252,1) 0%, rgba(132,144,255,1) 100%);
}