


.talents img{
  padding-top: 5px;
  width:11%;
}

header img{
  width:40px;
  height:40px;
  margin-top: auto;
  margin-bottom:auto;
}

.louis{
  margin:auto;
}

@media screen and (min-width: $vw-thin) {
.louis{
  width:40%;
}
}

@media screen and (min-width: $vw-medium) {
  .louis{
    width:100%;
  }
}

@media screen and (min-width: $vw-large) {
  .louis{
    width:100%;
  }
}