

a{
  &:link{
    color: var(--color-link);
    text-decoration: none;
  }

  &:visited {
    color: var(--color-link-visited);
  }

  &:hover{
    color: var(--color-link-hover);
    text-decoration:underline;
  }

  &:active{
    color: var(--color-link-active);
  }

  &:focus{
    color: var(--color-link-focus);
  }
}

.button{
  background-color: var(--color-gradient);
  color:var(--color-black);
  padding: 10px;
  margin:0;
  width:20%;
  flex-grow:1;
  justify-content:center;
}